* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #ff00cc, #333399);
  width: 100%;
  min-height: 100vh;
}

.container {
  background-color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 10px;
  max-width: fit-content;
  padding: 5px 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.password-field {
  text-align: center;
}

input[type="text"] {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.copy-btn {
  padding: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  font-size: 18px;
  background-color: blue;
  color: white;
  transition: all 0.1s ease-out;

  &:active {
    font-size: 16px;
  }
}

.options {
  margin-top: 2rem;
  padding: 4px 8px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  font-size: 1.6rem;

  & span {
    width: 2rem;
  }

  & input[type="range"] {
    font-size: 0.7rem;
  }
}

.includeNums {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  font-size: 1.6rem;

  & input[type="checkbox"] {
    accent-color: green;
  }
}

.includeChars {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  font-size: 1.6rem;

  & input[type="checkbox"] {
    accent-color: green;
  }
}
